html body {
  font-family: Arial;
  padding: 20px;
  text-align: center;
  background-color: #282828 !important;
  color: #ffff !important;
}

/* Header/Blog Title */
.header {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 35px;
  height: 1000px;
  margin-top: 45px;
  font-size: 40px;
  background-color: #222222;
  text-shadow: 2px 2px #282828;
  border-radius: 45px;
  /*background-image: url("https://w.wallhaven.cc/full/pk/wallhaven-pkw6y3.jpg"); */
  background-repeat: no-repeat;
  background-size: auto;
}

.leftrad{
    border-right: #282828 solid 6px;
    width: 65%;
    float: left;
}

.leftrad img{
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 45%;
    width: 25%;
    height: auto;
}

.leftrad p{
    text-transform: uppercase;
    font-size: 0.7em;
}

.rightrad{
    width: 35%;
    float: right;
    height: 100%;
}

.rightrad p{
    margin-top: 50px;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 0.7em;
}

.buttons{
    border-radius: 45px;
    padding: 10px;
    font-size: 0.55em;
    text-transform: uppercase;
}

.date{
  text-align: left;
  font-size: 0.8rem;
}

.url{
  text-align: right !important;
  font-size: 0.85em;
}

.blogcolumnr {
  padding-left: 25%;
  width: 75%;
  padding-bottom: 25px;
}

.blogcolumnr .card p{
  font-size: 1.0em;
  padding-bottom: 1em;
  text-align: left;
}

/* Add a card effect for articles */
.homecard {
  padding: 20px;
  background-color: #282828 !important;
  color: #ffff !important;
  padding-bottom: 50px;
}

.rowr{
  padding-bottom: 150px;
}

.rowr:after {
  content: "";
  display: table;
  clear: both;
}


/* Footer */
html .footer {
  padding-top: 50px;
  margin-top: 20px;
  border-radius: 35px;
  background-color: #222222;
  border: #222222 solid 3px;
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}

.footer a {
  font-size: 35px;
  padding: 10px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  
}