*{
  background-color: 	#282828 !important;
  color: #ffff !important;
}

body {
  font-family: Arial;
  padding: 20px;
  text-align: center;
  background-color: #282828 !important;
  color: #ffff !important;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
}
.date{
  text-align: left;
}


/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  margin-top: 20px;
  border-radius: 35px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}